<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meshdesh.trifler">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TriflerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trifler"
        tools:targetApi="n">
        <activity android:name=".category.view.AddCategoryActivity" />
        <activity android:name=".contact.view.ContactActivity" />
        <activity android:name=".dashboard.view.DashboardActivity" />
        <activity
            android:name=".signup.view.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.view.OnboardingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>